<h1>Hello Teachers,</h1>

<h3>Here is the attendance for the day</h3>

<div ng-show = "attendingStudents.length">
    <h3>Signed In:</h3>
    <ul>
        <li ng-repeat="item in attendingStudents = (students | filter:{signedIn: true})">{{ item.name }}</li>
    </ul>
</div>

<div ng-show = "nonAttendingStudents.length">
    <h3>Not Signed In:</h3>
    <ul>
        <li ng-repeat="item in nonAttendingStudents = (students | filter:{signedIn: false})">{{ item.name }}</li>
    </ul>
</div>

<button ui-sref="signin">Signin</button>
<button ui-sref="home">Home</button>
