<h1>Hi Students,</h1>
<div ng-show = "students.length">
    <h3>please click on your name to sign in.</h3>
    <ul>
        <li ng-repeat="item in students">{{ item.name }}
            <button ng-click="signStudentsIn(item); signOut = true" ng-hide="signOut">Sign In</button>
            <button ng-click="signStudentsOut(item); signOut = false" ng-show="signOut">Sign out</button>
        </li>
    </ul>
</div>

<button ui-sref="attendance">See who's here</button>
            <!-- <a ui-sref="signedin.students({ signedInId})" -->
<!-- <div ng-controller="SignedInCtrl">
    <div ng-show="signedInStudents.length">
        <ul>
            <li ng-repeat="item in signedInStudents">{{ item.name }}</li>
        </ul>
    </div>
</div> -->
